:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --theme-primary: limegreen;
  --theme-black: #1d2125;
  --error-red: #ad0404;
  background-color: var(--theme-black);
  color: white;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.primary {
  color: var(--theme-primary)
}